<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess">
    <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" /> <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:taskAffinity=""
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".activities.PatientExerciseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.IntroActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar2">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name=".activities.DoctorSignUpActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar2">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name=".activities.DoctorSignInActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar2">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name=".activities.DoctorMainActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar2">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name=".activities.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar2">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name=".activities.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar2">

            <!-- Declare notch support -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar2" />
    </application>

</manifest>